@import '../../styles/variables';

.modules {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - #{$navigation-width});
    height: calc(100vh - #{$status-bar-button-height});
    background-color: $white;
    
    .heading {
        top: 0;
        width: calc(100vw - #{$navigation-width});
        position: fixed;
        box-shadow: 0px 2px 10px $dark-grey;

        h1 {
            padding: $spacer * .5 $spacer;
        }

        .include-button {
            color: white;
            padding: 0 40px;
            transition: all .25s;
            cursor: pointer;
            background-color: $dark-grey;

            &:hover,
            &:focus {
                background-color: darken($dark-grey, 10);
            }

            &.active {
                background-color: $green;
                color: $white;

                &:hover,
                &:focus {
                    background-color: darken($green, 10);
                }
            }
        }
    }

    .classes {
        position: fixed;
        top: $spacer * 3.5;
        right: 0;
        width: calc(100vw - #{$navigation-width});
        height: calc(100vh - #{$status-bar-button-height} - #{$spacer} * 3.5);
        overflow: auto;
        padding: $spacer;
    }
}