@import '../../styles/variables';

.status-bar {
    position: fixed;
    width: calc(100vw - #{$navigation-width});
    background-color: $light-grey;
    bottom: 0;
    right: 0;

    .module-count {
        padding: 0 $spacer;

        span {
            font-weight: 700;
        }
    }

    .button {
        color: white;
        height: $status-bar-button-height;
        padding: 0 40px;
        opacity: .85;
        transition: opacity .25s;
        cursor: pointer;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .download-css {
        background-color: $green;
    }

    .reset-modules {
        background-color: $red;
    }
}