@import '../../../../styles/variables';

.container {
    border: 1px solid $light-grey;
    padding: $spacer * .5;

    &.height-2 {
        height: 200px;
    }

    .item {
        border: 1px solid $green;
        padding: $spacer;

        &.height-1 {
            height: 60px;
        }

        &.height-2 {
            height: 80px;
        }

        &.height-3 {
            height: 100px;
        }

        &:not(:last-of-type){
            margin-right: $spacer * .5;
        }
    }
}